.contact{    
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
}

.wall{     
    min-height: 200px;
    min-width: 280px;  
    width: 40%; 
    background-color: #ffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #686868;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.wall form{    
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    }

.wall form label{
    width: 80%;
    min-width: 250px;
    text-align: left;
    margin-top: 1rem;
    color: #00AEEF;
    font-weight: 600;
}
.wall form input{
    min-width: 250px;
    width: 80%;    
    outline: none;
    border:1px solid #c0c0c0;   
    padding: 0.8rem;
    margin-top: 0.3rem;
    font-family: 'Poppins', sans-serif;
    color: #686868;
}    
.wall form input::placeholder{
    color: #c0c0c0;;
}
.wall form textarea{
    font-family: 'Poppins', sans-serif;
    color: #686868;
    min-width: 250px;
    width: 80%;
    min-height: 120px;
    resize:none;
    margin-top: 0.3rem;
    outline: none;
    border: 1px solid #c0c0c0;
    padding: 0.5rem;
}
.wall form textarea::placeholder{
    color: #c0c0c0;;
}
.wallButton{
    text-decoration: none;
    text-align: center;
    min-width: 100px;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.8rem;
    outline: none;
    background-color: #00AEEF;
 
}
@media (max-width: 1200px){
  
   .wall{
    margin-top: 0.5rem;
    padding: 1rem 1rem;
   }
   .wall form input{
       padding: 0.5rem;
   }
   .wallButton{
       padding: 0.5rem;
   }

}