.infoWall{      
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    color: #686868;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    padding: 1rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
     
}

.infoWall th, .infoWall td{
    padding: 0.7rem 0;
}
.infoWall p{
    margin: 0.3rem 0;
}
.infoWall a{
    text-decoration: none;
    color: #00AEEF;
}
.terms{
    word-break: break-all;
}

@media (max-width: 600px){
    .infoWall{
        font-size: 0.6rem;
        
    }
    
}