.alertW{
    width: 500px;
    height: 200px;
    background-color: #0050AD;
    font-family: 'Poppins', sans-serif;
    font-size: 1.4rem;
    color: #ffffff; 
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in;
    animation: mensaje 0.3s linear;
}
@keyframes mensaje {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
    }

.buttonsAlert{
   width: 100%;
   display: flex;
   justify-content: space-evenly;
}
.buttonsAlert button{
    cursor: pointer;
    border: none;
    outline: none;    
    padding: 0.5rem 2rem;
    background-color: #ffffff;
    color: #0050AD;
    font-weight: 600;
    font-family:'Poppins', sans-serif;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 3px;
}